---

---

<div>
  <h1>Geegle</h1>
  <button
    class="bg-black text-white px-4 py-2 rounded-md hover:bg-gray-800 transition-colors"
  >
    <div class="shiny-text" style="animation-duration: 2s;">Search</div>
  </button>
  <style>
    @keyframes shine {
      0% {
        background-position: 100%;
      }
      100% {
        background-position: -100%;
      }
    }

    .shiny-text {
      color: #b5b5b599;
      background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 60%
      );
      background-size: 200% 100%;
      -webkit-background-clip: text;
      background-clip: text;
      display: inline-block;
      animation: shine 5s linear infinite;
    }

    .shiny-text.disabled {
      animation: none;
    }
  </style>
</div>
